/*-----------------------------------------------------------------------------------*/
/* Base stylesheet to use with Superfish Mobile add on
/* Simply load this file & the matching JS file after superfish files and you will have a lovely mobile menu in place
/* V1.1
/*-----------------------------------------------------------------------------------*/

/* Remove some default styles to display all items vertically */
ul.sf-menu.sf-mobile {
	margin: 0;
	display: none;
	float: none;
}
.sf-mobile a {
	border-left: 0;
}
.sf-mobile > li {
    float: none;
}
.sf-mobile ul {
	position: relative;
	display: block;
	box-shadow: none;
}
.sf-mobile ul ul {
    left: 0;
}

/* Add some styles for the mobile menu */
.sf-mobile li {
	background: #CCCCCC;
	text-align: center;
}
.sf-mobile ul li {
	background: #e1e1e1;
}
.sf-mobile ul ul li {
	background: #EBEBEB;
}
.sf-mobile li:hover {
	background: #c2c2c2;
}
.sf-mobile ul li:hover {
	background: #CCCCCC;
}
.sf-mobile ul ul li:hover {
	background: #e1e1e1;
}

/* Style the menu toggle button */
.nav-toggle { 
	cursor: pointer; 
	padding: 10px 35px 16px 0px; 
	float: right;
	position: relative;
	top: 15px;
	right: 2%;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #000;
  position: absolute;
  display: block;
  content: '';
}
.nav-toggle span:before {
  top: -10px; 
}
.nav-toggle span:after {
  bottom: -10px;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
.nav-toggle.active span {
  background-color: transparent;
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0;
}
.nav-toggle.active span:before {
  transform: rotate(45deg);
}
.nav-toggle.active span:after {
  transform: rotate(-45deg);
}
